[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
restructuredtext-lint = "*"
pipenv-to-requirements = "*"

[packages]
sphinx = "*"
recommonmark = "*"
commonmark = "*"
markupsafe = "*"

[requires]
python_version = "3.7"
